* { 
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root { 
    --main-color: #c9011b;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);

}
html { 
    font-size: 62%;
  scroll-behavior: smooth;
}
::-webkit-scrollbar { 
    width: .8rem;
}
::-webkit-scrollbar-track { 
   background: transparent;
}
::-webkit-scrollbar-thumb { 
    background: #fff ;
    border-radius: 5rem;
 }
 body { 
     background: var(--bg);
 }
 section {
     padding: 7rem 7%;
 }
 .heading { 
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     padding-bottom: 3,5rem;
     font-size: 4rem;
     margin-bottom: 4rem;
 }
 .heading span { 
     color: var(--main-color);
     text-transform: uppercase;
 }
 .btn { 
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 4px;
 }
 .btn:hover { 
     letter-spacing: .2rem;
 }
.moveUp { 
    position: fixed;
    top: -5rem;
    right: 2rem;
    font-size: 2.3rem;
    z-index: 100;
    color: #fff;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    background-color: var(--main-color);
    animation: up 1s linear  infinite ;
    transition: 1s;
 }
 .moveUp.show { 
     top: 95vh;
 }
 /* header */
 .header { 
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1.5rem 7%;
     border-bottom: var(--border);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
 }
 .header .logo img { 
    height: 5rem;
    border-radius: 20%;
 }
 .header .navbar a { 
     margin: 0 1rem;
     font-size: 1.5rem;
     color: #fff;
 }
 .header .navbar a:hover  {
     color: var(--main-color);
     border-bottom: .1rem solid var(--main-color);
     padding-bottom: .5rem;
 }
 .header .icons i { 
     color: #fff;
     cursor: pointer;
     font-size: 2.5rem;
     margin-left: 2rem;
     animation: rotate 2s alternate;
 }
 .header .icons i:hover { 
     color: var(--main-color);
 }
 #munu-btn { 
     display: none;
 }
 .header .search-form { 
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
 }
 .header .search-form.active { 
    transform: scaleY(1);
 }
 .header .search-form input { 
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
 }
 .header .search-form label { 
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
 }
 .header .search-form label:hover { 
     color: var(--main-color);
 }
 .header .cart-items-container { 
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 35rem;
    height: calc(100vh - 9.5rem);
    padding: 0 1.5rem;
 }
 .header .cart-items-container.active { 
     right: 0;
 }
 .header .cart-items-container .cart-item { 
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }
 .header .cart-items-container .cart-item .fa-times { 
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
 }
 .header .cart-items-container .cart-item .fa-times:hover { 
     color: var(--main-color);
 }
 .header .cart-items-container .cart-item img { 
     height: 7rem;
 }
 .header .cart-items-container .cart-item .content h3 { 
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: var(--black);
 }
 .header .cart-items-container .cart-item .content .price { 
    font-size: 1.5rem;
    color: var(--main-color); 
 }
 .header .cart-items-container .btn { 
    width: 100%;
    text-align: center;
 }
/* home section */
.home { 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:url("../image/shoeslanding.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 5;
}
.home::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home img { 
    width: 35rem;
}
.home .content { 
    max-width: 60rem;
}
.home .content h3 { 
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p { 
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 1.8;
}
.home .image img { 
    width: 40rem;
}
/* about section */
.about .row { 
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    border-radius: 10px;
}
.about .row .image { 
    flex:1 1 45rem;
    position: relative;
    overflow: hidden;
}
.about .row .image::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: 10;

}
.about .row .image img { 
    width: 100%;
    border-radius: 10px;
}

.about .row .content { 
    flex:1 1 45rem;
    padding: 2rem;
}
.about .row .content h3 { 
    font-size: 3rem;
    color: #fff;
}
.about .row .content p { 
    font-size: 1.6rem;
    color: #ccc;
padding: 1rem 0;
line-height: 1.8;
}
/* menu section */
/* .menu { 
    background: url("../image/fachry-zella-devandra-bNSdIkCBJOs-unsplash\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    position: relative;
} */
.menu::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
.menu .container { 
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.menu .card { 
    position: relative;
    width: 32rem;
    height: 45rem;
    background-color: var(--black);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.menu .card::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: .3s ease-in-out;
}
/* one */
.menu .card.one::before { 
    background: #184664;
}
.menu .card.three::before { 
    background: #ff501d;
}
.menu .card.four::before { 
    background: #607d8b;
}
.menu .card.five::before { 
    background: #453b65;
}
.menu .card::after { 
    content: 'Nike';
    position: absolute;
    font-size: 20rem;
    font-weight: bold;
    font-style: italic;
    top: 35%;
    left: -22%;
    color: rgb(255 255 255 / 4%);
}
.menu .card:hover::before { 
    clip-path: circle(300px at 80% -20%);
}
.menu .card .image { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 25rem;
    transition: .3s ease-in-out;
}
.menu .card:hover .image { 
    top: 0;
    transform: translateY(0%);
}
.menu .card .image img { 
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu .card.three .image img,
.menu .card.four .image img { 
    width: 45%;
}
.menu .card .content { 
    position: absolute; 
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 100px;
    z-index: 10;
    transition: .3s ease-in-out;
    transition-delay: .1s;
}
.menu .card:hover .content { 
    height: 200px;
}
.menu .card .content h2 {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px;
}
.menu .card .content .size h3 { 
    color: #ccc;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-transform: uppercase;
}
.menu .card .content .size span { 
    background-color: #fff;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-right: 1.5rem;
    border-radius: 2px;
}
.menu .card .content .size span:hover { 
    background-color: #9bdc28;
}
.menu .card.one .content .size span:hover { 
    background-color: #184664;
}
.menu .card.three .content .size span:hover { 
    background-color: #ff501d;
}
.menu .card.four .content .size span:hover { 
    background-color: #607d8b;
}
.menu .card.five .content .size span:hover { 
    background-color: #453b65;
}
.menu .card .content .color,
.menu .card .content .size  { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.menu .card:hover .content .size { 
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}
.menu .card:hover .content .color { 
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}
.menu .card .content .color h3 { 
    color: #ccc;
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.menu .card .content .color span { 
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.menu .card .content .color span:nth-child(2) { 
    background-color: red;
}
.menu .card .content .color span:nth-child(3) { 
    background-color: #9bdc28;
}
.menu .card .content .color span:nth-child(4) { 
    background-color: yellow;
}
.menu .card .content a { 
    background-color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    transform: translateY(10rem);
    /* transition: .5s; */
    opacity: 0;

}
.menu .card .content a:hover { 
    background-color: #9bdc28;
}
.menu .card.one .content a:hover { 
    background-color: #184664;
}
.menu .card.three .content a:hover { 
    background-color: #ff501d;
}
.menu .card.four .content a:hover { 
    background-color: #607d8b;
}
.menu .card.five .content a:hover { 
    background-color: #453b65;
}
.menu .card:hover .content a { 
    opacity: 1;
    transition-delay:  .5s;
    transform: translateY(0);
}
/* product section */
.product .box-container { 
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
}
.product .box-container .box { 
    text-align: center;
  width: 34rem;
  position: relative;

}
.product .box-container .box .icons { 
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 66%;
    background-color: #0000009c;
    transform: rotateX(90deg);
}
.product .box-container .box:hover .icons { 
    transform: rotateX(0deg);
}
.product .box-container .box .icons .shopping { 
    display: block;
    margin: 7rem auto 3rem;
    width: 6rem;
    height: 6rem;
    line-height: 7rem;
    background-color: var(--main-color);
}
.product .box-container .box .icons a { 
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: #fff;
    margin: 1rem;
    display: inline-block;
    transform: rotate(45deg);
    line-height: 5.8rem;
}
.product .box-container .box .icons a:hover { 
    background-color: var(--main-color);
}
.product .box-container .box .icons a i { 
    font-size: 2rem;
    transform: rotate(-45deg);
}
.product .box-container .box .image { 
width: 100%;
}
.product .box-container .box .image img { 
    width: 100%;
    height: 32rem;
    clip-path: polygon(0% 0%, 100% 0% , 100% 88%, 50% 100%, 0% 88%);
}
.product .box-container .box .content { 
    padding: 2rem 0;
    background-color: var(--black);
    clip-path: polygon(0% 0%, 50% 20% , 100% 0%, 100% 100%, 0% 100%);
}
.product .box-container .box .content h3 { 
    color: #fff;
    font-size: 2.5rem;
    margin-top: 2rem;
}
.product .box-container .box .content .stars { 
    padding: 1.5rem;
}
.product .box-container .box .content .stars i { 
    font-size: 1.7rem;
    color: var(--main-color);
}
.product .box-container .box .content .price { 
    color: #fff;
    font-size: 2.5rem;
}
.product .box-container .box .content .price span { 
    text-decoration: line-through;
    font-size: 1.5rem;
}
/* review section */
.review .box-container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}
.review .box-container .box { 
    text-align: center;
    padding: 3rem 2rem;
    cursor: pointer;
    background-color: var(--black);
    border-radius: 10px;
}
.review .box-container .box .fa-quote-right { 
    color: var(--main-color);
    font-size: 7rem;
}
.review .box-container .box p { 
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
.review .box-container .box .image { 
    position: relative;
    margin-bottom: 4rem;
   
}
.review .box-container .box .image span { 
    position: absolute;
    width: 10rem;
    height: 10rem;
    border: 0.7rem solid #c9011b;
    display: block;
    top: 34px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
   
}
.review .box-container .box:hover .image span { 
    top: 10px;
}
.review .box-container .box .image img { 
    height: 12rem;
    width: 12rem;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
}

.review .box-container .box  h3 { 
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.review .box-container .box .stars i { 
    color: var(--main-color);
    font-size: 1.5rem;
}
/* state section */
.state { 
    padding: 10rem 0;
}
.state .container { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.state .container .box { 
    width: 19rem;
    height: 20rem;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    background-color: var(--black);
}
.state .container .box i { 
    color: #fff;
    margin: 2rem 0;
    font-size: 3rem;
}
.state .container .box .number { 
    color: #c9011b;
    display: block;
    font-size: 7rem;
}
.state .container .box .text { 
    color: #ccc;
    font-size: 1.5rem;
}
/* section contact */
.contact .row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--black);
    gap: 1rem;
    border-radius: 10px;
}
.contact .row .map { 
width: 100%;
flex: 1 1 45rem;
} 
.contact .row form { 
    flex: 1 1 45rem; 
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3 { 
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
}
.contact .row form .inputbox { 
    display: flex;
    align-items: center;
    background: var(--bg);
    margin: 2rem 0;
}
.contact .row form .inputbox span { 
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
    position: absolute;
}
.contact .row form .inputbox input { 
    padding: 2rem 6rem;
    width: 100%;
    font-size: 1.6rem;
    background: none;
    color: #fff;
    transition: .5s;
}
.contact .row form .inputbox input:focus { 
    box-shadow: 0px 0 3px 1px #c9011b;
}
/* footer section */
.footer { 
    background: var(--black);
    text-align: center;
    padding: 2rem 0;
}
.footer .share { 
    padding: 1rem 0;
}
.footer .share a { 
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 50%;
    margin: .3rem;
    background-color: var(--bg);
}
.footer .share a:hover { 
    background-color: var(--main-color);
}
.footer .credit { 
    color: #fff;
    font-size: 2rem;
    border-top: 1px solid var(--main-color);
    padding-top: 2rem
}
.footer .credit span { 
    color: var(--main-color);
}






 /* media query */
@media (max-width: 991px) { 
    html { 
        font-size: 55%;
    }
    .header { 
        padding: 1.5rem 2rem;
    }
    section { 
        padding: 7rem 2rem;
    }
}
    @media (max-width: 768px) { 
        #munu-btn { 
            display: inline-block;
        }
        .header .navbar { 
            position: absolute;
            top: 100%;
            right: -100%;
            background:#fff;
            width: 30rem;
            height: calc(100vh - 9.5rem);
        }
        .header .navbar.active { 
            right: 0;
        }
        .header .navbar a { 
            color: var(--black);
            display: block;
            margin: 1.5rem;
            padding: 0.5rem;
            font-size: 2rem;
        }
        .header .search-form { 
            width: 90%;
            right: 2rem;
        }
        .home { 
            justify-content: center;
            text-align: center;
        }
        .home img { 
            display: none;
        }
        .home .content h3{ 
font-size: 4.5rem;
        }
        .home .content p { 
            font-size: 1.5rem;
        }
    }
   
/* animation */
@keyframes up { 
    50% { 
        transform: translateY(-10px);
    }
    100% { 
        transform: translateY(0);
    }
}